<% list.each do |cluster| %>
  <h1>Helm Releases: <%= cluster["name"] %></h1>

  <div class="row">
    <% cluster["apps"].each do |app| %>

      <div class="card text-white bg-<%= app["traffic_light"] %> mb-3 mr-3" style="max-width: 18rem;">

        <div class="card-header">
          <h5 class="card-title"><%= app["name"] %></h5>
        </div>

        <div class="card-body">
          <ul>
            <li>chart: <%= app["chart"] %></li>
            <li>namespace: <%= app["namespace"] %></li>
            <li>installed: <%= app["installed_version"] %></li>
            <li>latest: <%= app["latest_version"] %></li>
          </ul>
        </div>

      </div>

    <% end %>

  </div>
<% end %>
