<% if list.any? %>
  <div class="table-responsive">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Namespace</th>
      <th scope="col">Application</th>
      <th scope="col">Business unit</th>
      <th scope="col">Team name</th>
       <th scope="col">Slack channel</th>
      <th scope="col">Source code</th>
      <th scope="col">Domain names</th>
    </tr>
  </thead>
  <tbody>
  <% list.each do |service| %>
    <% namespace = service["namespace"] %>
    <tr>
      <th scope="row">
        <%= link_to namespace, "/namespace/#{namespace}" %>
      </th>
      <td><%= service["application"] %></td>
      <td><%= service["business_unit"] %></td>
      <td><%= link_to_github_team service["team_name"] %></td>
      <td><%= service["team_slack_channel"] %></td>
      <td><%= link_to_repo service["github_url"] %></td>
      <td><%= links_to_domain_names service["domain_names"] %></td>
    </tr>
    <% end %>
    </tbody>
    </table>
    </div>
    <% else %>
  <h1>
    Awaiting data
  </h1>

<% end %>
