<h2>Summary</h2>
<div class="row mb-3">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
              <b>Total Ingresses: </b>
              <%= total_ingress %>
      </div>
    </div>
  </div>
</div>

<% if details.any? %>
  <div class="table-responsive">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Namespace</th>
      <th scope="col">Ingress Name</th>
      <th scope="col">Domain URL</th>
      <th scope="col">Creation Timestamp</th>
    </tr>
  </thead>
  <tbody>
  <% details.each do |ingress| %>
    <tr>
      <td><%= ingress["namespace"] %></td>
      <td><%= ingress["ingress"] %></td>
      <td><%= ingress["hostname"] %></td>
      <td><%= ingress["CreatedAt"] %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
  </div>
<% else %>
<h1>
  Awaiting data
</h1>

<% end %>