<h2><%= data["name"] %></h2>

<hr />

<h3>CPU (millicores)</h3>
<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Requested</th>
      <th>Used</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Namespace</td>
      <td><%= data.dig("max_requests", "cpu").to_i %></td>
      <td><%= data.dig("resources_used", "cpu").to_i %></td>
    </tr>
    <tr>
      <td>Pods</td>
      <td><%= data.dig("resources_requested", "cpu").to_i %></td>
      <td><%= data.dig("resources_used", "cpu").to_i %></td>
    </tr>
    <tr>
      <td>Per container (avg)</td>
      <td>&nbsp;</td>
      <td><%= (data.dig("resources_used", "cpu").to_f / data.fetch("container_count").to_i).round(2) %></td>
    </tr>
  </tbody>
</table>

<hr />

<h3>Memory (mebibytes)</h3>
<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Requested</th>
      <th>Used</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Namespace</td>
      <td><%= data.dig("max_requests", "memory").to_i %></td>
      <td><%= data.dig("resources_used", "memory").to_i %></td>
    </tr>
    <tr>
      <td>Pods</td>
      <td><%= data.dig("resources_requested", "memory").to_i %></td>
      <td><%= data.dig("resources_used", "memory").to_i %></td>
    </tr>
    <tr>
      <td>Per container (avg)</td>
      <td>&nbsp;</td>
      <td><%= (data.dig("resources_used", "memory").to_f / data.fetch("container_count").to_i).round(2) %></td>
    </tr>
  </tbody>
</table>

<hr />

<h4>Containers: <%= data.fetch("container_count").to_i %></h4>
