<h1><%= namespace %></h1>
<h6 class="text-muted">Updated: <%= updated_at.strftime("%Y-%m-%d %H:%M:%S") %></h6>

<div class="row mb-3">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
      <% if !details["Application"].nil? %>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Application</th>
              <td><%= details["Application"] %></td>
            </tr>
            <tr>
              <th>Business Unit</th>
              <td><%= details["BusinessUnit"] %></td>
            </tr>
            <tr>
              <th>Team</th>
              <td><%= details["TeamName"] %></td>
            </tr>
            <tr>
              <th>Slack channel</th>
              <td><%= details["TeamSlackChannel"] %></td>
            </tr>
            <tr>
              <th>Source code</th>
              <td>
                <% details["GithubURL"].split(",").each do |url| %>
                  <%= link_to_repo url %><br />
                <% end %>
              </td>
            </tr>
            <tr>
              <th>Domain names</th>
              <td>
                <% details["DomainNames"].each do |domain| %>
                  <%= link_to domain, "https://#{domain}" %><br />
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <% else %>
        <h1>
         Awaiting data
        </h1>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Costs</h5>
        <% if namespace_costs["resource_costs"].any? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Resource</th>
              <th class="text-right">Monthly Cost ($)</th>
            </tr>
          </thead>
          <tbody>
            <% namespace_costs["resource_costs"].each do |i| %>
              <tr>
                <td><%= i[0] %></td>
                <td class="text-right"><%= commify i[1] %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
              <th class="text-right"><%= commify namespace_costs["total"] %></th>
            </tr>
          </tfoot>
        </table>
        <% else %>
          <h1>
            Awaiting data
          </h1>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Namespace Usage</h5>
       <% if !usage.nil? %> 
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>CPU (millicores)</h5>
            Requested: <%= usage.dig("Requested", "CPU").to_i %><br />
            Used: <%= usage.dig("Used", "CPU").to_i %><br />
            Per container (avg): <%= (usage.dig("Used", "CPU").to_f / usage.fetch("ContainerCount").to_i).round(2) %><br />
          </li>
          <li class="list-group-item">
            <h5>Memory (mebibytes)</h5>
            Requested: <%= usage.dig("Requested", "Memory").to_i %><br />
            Used: <%= usage.dig("Used", "Memory").to_i %><br />
            Per container (avg): <%= (usage.dig("Used", "Memory").to_f / usage.fetch("ContainerCount").to_i).round(2) %><br />
          </li>
          <li class="list-group-item">
            <h5>Containers: <%= usage.fetch("ContainerCount").to_i %></h5>
          </li>
        </ul>
        <% else %>
          <h1>
            Awaiting data
          </h1>
        <% end %>
      </div>
    </div>
  </div>

</div>
