<h1><%= namespace %></h1>
<h6 class="text-muted">Updated: <%= updated_at.strftime("%Y-%m-%d %H:%M:%S") %></h6>

<div class="row mb-3">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Application</th>
              <td><%= details["application"] %></td>
            </tr>
            <tr>
              <th>Business Unit</th>
              <td><%= details["business_unit"] %></td>
            </tr>
            <tr>
              <th>Team</th>
              <td><%= details["team_name"] %></td>
            </tr>
            <tr>
              <th>Slack channel</th>
              <td><%= details["team_slack_channel"] %></td>
            </tr>
            <tr>
              <th>Source code</th>
              <td>
                <% details["github_url"].split(",").each do |url| %>
                  <%= link_to_repo url %><br />
                <% end %>
              </td>
            </tr>
            <tr>
              <th>Domain names</th>
              <td>
                <% details["domain_names"].each do |domain| %>
                  <%= link_to domain, "https://#{domain}" %><br />
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Costs</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Resource</th>
              <th class="text-right">Monthly Cost ($)</th>
            </tr>
          </thead>
          <tbody>
            <% namespace_costs["resource_costs"].each do |i| %>
              <tr>
                <td><%= i[0] %></td>
                <td class="text-right"><%= commify i[1] %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
              <th class="text-right"><%= commify namespace_costs["total"] %></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Namespace Usage</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>CPU (millicores)</h5>
            Requested: <%= usage.dig("resources_requested", "cpu").to_i %><br />
            Used: <%= usage.dig("resources_used", "cpu").to_i %><br />
            Per container (avg): <%= (usage.dig("resources_used", "cpu").to_f / usage.fetch("container_count").to_i).round(2) %><br />
          </li>
          <li class="list-group-item">
            <h5>Memory (mebibytes)</h5>
            Requested: <%= usage.dig("resources_requested", "memory").to_i %><br />
            Used: <%= usage.dig("resources_used", "memory").to_i %><br />
            Per container (avg): <%= (usage.dig("resources_used", "memory").to_f / usage.fetch("container_count").to_i).round(2) %><br />
          </li>
          <li class="list-group-item">
            <h5>Containers: <%= usage.fetch("container_count").to_i %></h5>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
