<% count = list.inject(0) {|sum, (resource_type, items)| sum += items.size} %>
<h1>Orphaned AWS Resources (<%= count %>)</h1>

<% if list.is_a?(Hash) %>
  <% list.keys.sort.each do |resource_type| %>
    <h2><%= snake_case_to_capitalised(resource_type) %></h2>
    <ul>
      <% list[resource_type].each do |item| %>
        <%
          text = item["id"]
          text = item["cluster"] == "" ? text : text + " (#{item["cluster"]})"
        %>
        <li>
          <% if item["aws_console_url"].to_s != "" %>
            <a href="<%= item["aws_console_url"] %>">
              <%= text %>
            </a>
          <% else %>
            <%= text %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
